.picture {
  position: relative; /* Необходимо для работы layout="fill" у Next.js Image */
  width: 450px; /* Ширина контейнера */
  height: 500px; /* Высота контейнера */
  overflow: hidden;
  border-radius: 5px;
}
