.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  height: 30px;
  padding: 0 10px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  outline: none;
  border: 2px solid #00000052;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.input:focus {
  border-color: #6d7378;
  box-shadow: 0 0 8px rgba(44, 45, 45, 0.6);
}

.btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  transform: translateY(1px);
}
