.categorys {
  margin-bottom: 100px;
}

.btn {
  display: block;
  margin: 0 auto;
  outline: none;
  padding: 10px 25px;
  font-size: 24px;
  border: none;
  width: 120px;
  border: 2px solid rgba(0, 0, 0, 0.754);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: -1px;
}
